<div class="hero__image">
  <ul class = "ul__users">
    <% @users.each do |user| %>
      <li class = li__users>
        <div class="user_data">
          <p class="text__li__users">
            <span>Nome:</span> <%= user.name %>
          </p>
          <p class="text__li__users">
            <span>Idade:</span> <%= user.age %>
          </p>
          <p class="text__li__users bio__text">
            <span>Biografia:</span> <%= user.biography %>
          </p>
        <div class="user__relationship">
            <span class="text__li__users">Contatos: <%= user.contacts.count %> </span> 
            <span class="text__li__users">Telefones: <%= user.telephones.count %> </span> 
          </div>
        </div>
      </li>
      <% end %>  
  </ul>
</div>
