<div class="hero__image">
  <ul class="container__users">
    <% @users.each do |user| %>
      <a class="" href="/users/<%= user.id %>">
        <li class="element__users card__user">
          <div class="user_data">
            <p class="text__card__users">
              <span>Nome:</span>
              <%= user.name %>
            </p>
            <p class="text__card__users">
              <span>Idade:</span>
              <%= user.age %>
            </p>
            <p class="text__card__users bio__card__text">
              <span>Biografia:</span>
              <%= user.biography %>
            </p>
            <div class="user__relationship">
              <span class="text__card__users">Contatos: <%= user.contacts.count %> </span>
              <span class="text__card__users">Telefones: <%= user.telephones.count %> </span>
            </div>
          </div>
        </li>
      </a>
    <% end %>
  </ul>
</div>
